
/* .authorForm {
  width: 19%;
  border: 1.5px solid rgb(29, 6, 6);
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
  overflow: hidden;
} */

.link-to {
  float: none;
  margin: 8px;
  padding: 8px;
  background-color: white;
  color: black;
  border: 2px solid rgb(51, 54, 219);
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  width: 15%;
}
