:local(.footer) {
    position: fixed;
    background-color: #efefef;
    height: 70px;
    width: 95%;
    bottom: 0;
}

:local(.copyright) {
    margin-left: 42px;
    color: rgba(20, 34, 224, 0.61);
}